.container {
	width: 800px;
	margin: 0px auto;
}
/* Banner */

#banner {
	overflow: hidden;
	height: 450px;
	background: url(images/img04.png) no-repeat center bottom;
}

/* Three Column Content */

#three-column {
	overflow: hidden;
	padding: 10px 0px 50px 0px;
}

#three-column .tbox1 {
	float: left;
	width: 384px;
	margin-right: 20px;
}

#three-column .tbox2 {
	float: left;
	width: 384px;
}

.box-style {
	background: #FFF3DE;
	text-align: center;
}

.box-style01
{
}


.box-style02
{
}

.box-style03
{
}


.box-style h2 {
	padding: 10px 0px;
	letter-spacing: -1px;
	font-size: 22px;
	color: #2D2D2D;
}

.box-style .image {
	width: 324px;
}

.box-style .arrow {
}

.box-style .content {
	overflow: hidden;
	width: 324px;
	padding: 20px;
}

.button
{
	display: inline-block;
	margin: 1em 0em;
	background: #000;
	padding: 1em 2em;
	color: #FFFFFF;
}